body {
	font-family: SourceCodePro;
	background-color: #222;
	color: #eee;
	margin: 5px 5vw;
	display: grid;
}

nav {
	display: flex;
	justify-content: space-between;
}

#quote, #text {
	width: 50vw;
	margin-left: 50%;
	transform: translateX(-50%);
}


#text {
	font-family: SourceCodePro;
	color: #eee;
	background-color: hsl(0, 10%, 10%);
	height: 10vw;
	resize: none;
}

#stats {
	width: 110px;
}

#stats p {
	display: inline-block;
}

#time-buttons {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#time-buttons button {
	font-family: SourceCodePro;
	margin: 0 2px;
	width: 50px;
	height: 26px;
	background-color: hsl(180, 50%, 50%);
	border: hsl(180, 50%, 40%) 2px solid;
	border-radius: 13px;
}

#title {
	font-size: 1.25em;
}
